*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../images/bg.gif);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.container{
    padding-top: 100px;
    text-align: center;
    line-height:30px;
}
.item{
    margin-top: 50px;
}
.paragraph{
    padding-left: 10px;
}
.paragraph1{
    padding-right: 8px;
}

button{
    width: 180px;
    height: 25px;
    border: 2px solid black;
}
input{
    width: 175px;
}